* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Google Sans", sans-serif;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.header__desc {
  display: inline;
  padding: 4px;
  margin-top: 5px;
  color: gray;
}

.header__desc:hover {
  color: white;
  cursor: pointer;
}

.recipie-box {
  border: 3px solid black;
  width: 300px;
  height: 520px;
  display: inline-block;
  margin: 5px;
}

.recipie-container {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.recipie-box img {
  width: 300px;
  height: 400px;
}

.recipie-box__orderbtn {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.recipie-box__desc {
  padding: 5px;
}

.recipie-box__desc:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.recipie-box__orderbtn:hover {
  background-color: skyblue;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer__fields {
  display: inline-block;
}

.contact-form {
  padding: 8px;
}

.contact-form__input {
  width: 220px;
  padding: 8px;
  border: none;
  outline: none;
  margin-top: 8px;
  font-size: 16px;
  color: black;
}

.footer__title {
  font-size: 35px;
}

.button-container {
  margin-top: 10px;
  padding: 5px;
}

.send-btn {
  background-color: yellow;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.send-btn:hover {
  background-color: darkslategray;
  color: white;
  cursor: pointer;
}
